<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Ajouter un Administrateur</title>
   <link rel="icon" type="image/png" href="/images/infinite_logo.png">

   <!-- lien cdn font awesome -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

   <!-- lien vers le fichier CSS personnalisé -->
   <link rel="stylesheet" href="/admin_style.css">
</head>
<body>
    <%- include('layout/headeradmin') %>
   <section class="form-container add">
      <form action="/ajouter_admin" method="POST">
         <h3>Ajouter un nouvel administrateur</h3>
         <input type="text" name="nom" maxlength="50" placeholder="Nom" class="box" required>
         <input type="text" name="prenom" maxlength="50" placeholder="Prénom" class="box" required>
         <input type="email" name="email" maxlength="50" placeholder="Email" class="box" required>
         <input type="tel" name="telephone" maxlength="10" placeholder="Numéro de téléphone" class="box" required>
         <input type="password" name="password" maxlength="20" placeholder="Mot de passe" class="box" required>
         <input type="password" name="c_pass" maxlength="20" placeholder="Confirmez le mot de passe" class="box" required>
         <input type="submit" value="Ajouter maintenant" name="submit" class="btn">
      </form>
   </section>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
   <script>
      let menu = document.querySelector('.header .menu');

      document.querySelector('#menu-btn').onclick = () =>{
         menu.classList.toggle('active');
      }

      window.onscroll = () =>{
         menu.classList.remove('active');
      }

      document.querySelectorAll('input[type="number"]').forEach(inputNumber => {
         inputNumber.oninput = () =>{
            if(inputNumber.value.length > inputNumber.maxLength) inputNumber.value = inputNumber.value.slice(0, inputNumber.maxLength);
         };
      });
   </script>

</body>
</html>
