<header class="header">
    <div id="close-btn"><i class="fas fa-times"></i></div>
    <a href="/dashboard" class="logo">Panneau d'administration</a>
    <nav class="navbar">
       <a href="/dashboard"><i class="fas fa-home"></i><span>Accueil</span></a>
       <a href="/annonces"><i class="fas fa-building"></i><span>Annonces</span></a>
       <a href="/users"><i class="fas fa-user"></i><span>Utilisateurs</span></a>
       <a href="/admins"><i class="fas fa-user-gear"></i><span>Administrateurs</span></a>
       <a href="/ajouter_admin"><i class="fas fa-plus"></i><span>Ajouter Admin</span></a>
       <a href="/"><i class="fas fa-arrow-left"></i><span>Revenir A l'application</span></a>
    </nav>
    <a href="/update" class="btn">Mettre à jour le compte</a>

    <a href="/logout" onclick="return confirm('Voulez-vous vraiment vous déconnecter ?');" class="delete-btn"><i class="fas fa-right-from-bracket"></i><span>Déconnexion</span></a>
 </header>